
<div class="entry">
<nav>
    <div class="nav-wrapper black">
      		<a href="#" class="brand-logo center"><img src="/assets/equalizer.gif" alt="" height="60"><span class="section">RHYTHM RUNNR</span> </a>
    </div>
  </nav>
	<div class="row">
		<div class="col m8">
			<div class="card section center">
				<!--if the file has been uploaded show it's name, if not, aske for file-->
				{{#if file}}
				<div class="card-content center">
					<span class="card-title"><h4>{{file.originalname}}</h4></span>
				</div>
				<div class="card-action" id="game">
					<input   class="btn grey darken-4 center" type="button" id="start" value="Analyze Song"/>
					<div id="phaser-game"></div>
				</div>
				{{else}}
				<div class="card-content center">
					<span class="card-title"> Welcome to Rythm Runnr, and endless runner based on YOUR songs!</span>
					<p>Upload a song to get started</p>
					<form id='uploadForm' action='/upload' method='post'enctype="multipart/form-data">
					<input class="file-path validate" type="file" name="song" />
					<input class="btn grey darken-4" type='submit' value='Upload!' />
				</form>  
				</div>
				
				{{/if}}
				</div>
			</div>
			<div class="col m4">
				<div class="card section center">
					<div class="card-content center">
					<span class="card-title"><h4>High Scores!</h4></span>
					<table>
						<thead>
						<tr>
							<th>Initials</th>
							<th>score</th>
						</tr>
						</thead>
						<tbody>
						{{#each scores}}
						<tr>
							<td>{{this.initials}}</td>
							<td>{{this.score}}</td>
						</tr>
						{{/each}}
						</tbody>
					</table>
					</div>
				</div>
				
			</div>
		</div>
</div>
  
	



