<!DOCTYPE html>
<html>
<head>
	<title>RythemRunnr</title>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="application/javascript"></script>

</head>
<body>
<script src="https://www.gstatic.com/firebasejs/5.0.2/firebase.js"></script>

	<input type="file" id="song" value="Start task" />
	<input type="button" id="upload" value="upload" />
	<input type="button" id="start" value="Start task" />
	<div id="result" />
<script type="text/javascript" src="../public/js/index.js" ></script>
<script type="text/javascript" src="../public/js/phaser.min.js"></script>
<script type="text/javascript" src="../public/js/sceneMain.js"></script>



</body>
</html>